body {
    margin: 0;
    padding: 150px;
    background: black;
  }
  
  #game-container {
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(4, 100px);
    background: url("gradient-3.jpeg");
    background-size:cover;
    left: -200px;
    top: -400px;
    position: absolute;
    transform:  scale(0.5);
  }
  
  .bg-square {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    /* border: 1px solid #ccc !important; */
  }
  
  .border {
      border: 1px solid #ccc !important;
  }
  
  .rectangle {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: #fff;
    left: calc(50%-0); /* Adjusted for pixel-perfect alignment */
    box-sizing: border-box;
  }
  
  .rectangle::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  
  .rectangle::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 1; 
  }
  
  .t-shape {
    content: "";
    position: absolute;
    width: 20px;
    height: 50%;
    background-color: #fff;
    box-sizing: border-box;
    top: calc(50% - 25px);
    left: calc(50% + 15px);
    transform: rotate(-90deg);
  }
  
  .t-shape::before {
    content: "";
    position: absolute;
    top: 40px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  
  .t-shape::after {
    content: "";
    position: absolute;
    bottom: 40px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  
  .round-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .round {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
  
  .round-cap::after {
    content: "";
    position: absolute;
    top: 40px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  
  .round-cap::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  
  .show-color {
    mix-blend-mode: multiply;
  }
  
  .eye {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    animation: blink 5s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1000ms;
  }
  
  .eye-left {
    left: 28px;
  }
  
  .eye-right {
    left: 28px;
    top: 70px;
  }
  
  .eye::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes blink {
    0% {
      width: 25px;
    }
    1% {
      width: 1px;
    }
    2% {
      width: 25px;
    }
  }
  
  